.tabs-menu {
    text-align: center;
    border-top: 1px solid $color-light-beta;
    border-bottom: 1px solid $color-light-beta;
    background-color: $color-light-delta;

    ul {
        @extend .list-reset;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        @include direction;

        li {
            display: inline-block;

            a {
                display: inline-block;
                color: $color-light-text;
                padding: $sm-spacing $base-spacing;

                svg.iconic {
                    fill: $color-light-text;
                    position: relative;
                    top: 2px;
                    @include margin-right(4px);
                }

                &:hover {
                    color: $color-light-text-focus;

                    svg.iconic {
                        fill: $color-light-text-focus;
                    }
                }
            }

            .tab-button {
                display: inline-block;
                color: $color-light-text;
                padding: $sm-spacing $base-spacing;
                font-weight: 400;
                text-transform: none;
                background: none;
                box-shadow: none;
                letter-spacing: 0px;

                svg.iconic {
                    fill: $color-light-text;
                    position: relative;
                    top: 2px;
                    @include margin-right(4px);
                }

                &:hover {
                    color: $color-light-text-focus;
                    box-shadow: none;
                    background: none;
                    svg.iconic {
                        fill: $color-light-text-focus;
                    }
                }
            }

            &.active {

                a {
                    color: $color-light-text-focus;
                    border-bottom: 2px solid $color-secondary;

                    svg.iconic {
                        fill: $color-light-text-focus;
                    }
                }

                .tab-button {
                    color: $color-light-text-focus;
                    opacity: 1;
                    border-bottom: 2px solid $color-secondary;

                    svg.iconic {
                        fill: $color-light-text-focus;
                    }
                }
            }

            &.tabs-menu-action {

                a {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

.tabs-target {
    display: none;
    margin-bottom: $sm-spacing;

    @include media($medium) {
        margin-bottom: $base-spacing;
    }

    &.active {
        display: block;
    }
}
